@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, 
body, 
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1f2026;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #c9c9d8;
}

::-webkit-scrollbar-thumb {
  background: #707cb8;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover {
  background: #9da4c3;
}
